{% extends 'base.html.twig' %}

{% block body %}
    <h2>
        <a href="{{ path('ticket_show', { 'id': ticket.id }) }}">{{ ticket.title }}</a>
    </h2>
    <p>{{ ticket.content }}</p>
    <span>created the {{ ticket.created|date('Y-m-d H:i:s') }} by {{ ticket.author }}</span>
    <span>
            assigned to :
        {% if ticket.assignedAt %}
            {{ ticket.assignedAt }}
        {% else %}
            No one
        {% endif %}
    </span>

    <ul>
        <li>
            <a href="{{ path('ticket_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        <li>
            {{ form_start(new_message_form) }}
                <input type="submit" value="Create">
            {{ form_end(new_message_form) }}
        </li>
    </ul>
{% endblock %}
